p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia;
}
h3{
    text-align: center;
    color: #000000;
}
h4{
    text-align: center;
}
textarea{
    color: #000000;
}
button{
    background-color: white;
    color: blueviolet;
}
a{
    color: rgb(2, 104, 2);
    text-decoration: none;
}
span{
    text-decoration: underline;
}