div{
    height: 150px;
    width: 500px;
    background-color: pink;

/* giving border */
    border: 5px;
    border-color: black;
    border-style: solid;
/* border sides => left, right, top, bottom */
    border-left: 10px dashed blue;
/* border-radius => used to round the borders like buttons or google search bar etc */
    border-radius: 10px;
/* padding => shorthand
1. for all 4 sides => padding: 50 px;
2. for top & bottom | left & right => padding: 1px 2px;
3. for top | left & right | bottom => padding: 1px 2px 3px;
4. clock wise (top|right|bottom|left) => padding: 1px 2px 3px 4px;
*/
 padding-top: 30px;

/* margin => shorthand
1. for all 4 sides => margin: 50 px;
2. for top & bottom | left & right => margin: 1px 2px;
3. for top | left & right | bottom => margin: 1px 2px 3px;
4. clock wise (top|right|bottom|left) => margin: 1px 2px 3px 4px;
*/
margin-bottom: 20px;



}

/* border shorthand */
/* border: width | style | color */

h1{
    border: 2px dashed darkgreen;
}

/* Display Property:
By display property we can change block element into inline and vice versa

display: inline
display: block
display: inline-block => this will convert block into incline along with all css properties
display: none => this will hide all the properties
*/

h2{
    display: inline;
    /* h2 is a block element but here we converted it into inline element */
}
span{
    display: block;
    /* span[ is a inline element but here we converted it into block element */

}