div{
    height: 200px;
    width: 200px;
    background-color: rgba(177, 41, 41, 0.3); 
/* Alpha Channel
In rgba 'a' stands for alpha channel used to describe the opacity of color between the range of 0 to 1
*/
}

#opacity{
    background-color: aqua;
    opacity: 0.5;
    /* opacity is used for defining the visibility of the element */
}

#box{
        width: 400px;
        height: 200px;
        background-color: aquamarine;
        margin: 10px auto;
        color: white;
        background-image: url(bg_img.jpg);
        background-size: cover;
/*      background-image: url(path_to_img)
        background-size:cover/contain/auto
*/
}