/* default priority in css */
/* This is also known as specificity */
/* inline style> id > class > element */


* {
  font-family: "Courier New";
}


h1,
h3 {
  color: #b92b27;
}

#login {
  background-color: white;
}
#signup {
  background-color: #b92b27;
  color: white;
}

.upvote {
  background-color: green;
  color: white;
  font-weight: bolder;
}

.post a {
  color: purple;
  background-color: yellow;
}

nav ul li a {
  color: hotpink;
}

p + h3 {
  text-decoration: underline;
}

.upvote + button {
  color: blueviolet;
  background-color: cornflowerblue;
  font-weight: bolder;
}

div > input {
  background-color: brown;
}

input [type="text"] {
  color: red;
}

input [type="password"] {
  color: green;
}

input[type] {
  background-color: ghostwhite;
}

/* Pseudo Class => :hover, :active, :checked, :nth-of-type()  */

button:hover {
  background-color: black;
  color: hotpink;
}

h3:hover {
  text-decoration: none;
}

button:active {
  background-color: hotpink;
  color: wheat;
}

p:active {
  font-weight: bold;
  color: green;
}

input[type="radio"]:checked + label {
  color: red;
  font-weight: bold;
}

div:nth-of-type(2n) {
  background-color: pink;
}

/* Pseudo Element => ::first-letter, ::first-line, ::selection*/

h1::first-letter {
  color: green;
}

p::first-line {
  color: red;
}

p::selection {
  color: lightblue;
}

/* cascading => it says that the lastest design for same selector will be implemented */

h3 {
  background-color: lightcyan;
}

h3 {
  background-color: lightgreen; /* as per cascading this will be implemented */
}
